.chq-charts--wrap {
  display: inline-block;
  position: relative;
}

.chq-charts--export {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 300ms ease-in-out;
}

.chq-charts--export svg {
  border-radius: 4px;
  height: 1.5em;
  margin: 0;
  padding: 8px;
  transition: background-color 150ms;
  width: 1.5em;
}

.chq-charts--export svg:hover {
  background-color: white;
}

.chq-charts--wrap:hover .chq-charts--export {
  opacity: 1;
  pointer-events: all;
}

.chq-charts--info {
  background-color: rgba(247, 247, 247, 0);
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 27% 8px 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: background-color 300ms ease-in-out, padding-top 400ms;
}

.chq-charts--info-show {
  background-color: rgba(247, 247, 247, .8);
  padding-top: 25%;
  pointer-events: all;
}

.chq-charts--mono {
  font-family: monospace;
}

.chq-charts--info button {
  background: none;
  border: 0;
  border-radius: 5px;
  color: #6a89af;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 4px 10px;
  transition: background-color 300ms;
}

.chq-charts--info button:focus,
.chq-charts--info button:hover {
  background-color: #f7f7f7;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.chq-charts--chart {
  overflow: visible;
}

.chq-charts--chart text,
.chq-charts--chart line {
  animation: chqChartsFadeIn 1s ease-in-out forwards 1.25s;
  opacity: 0;
}

.chq-charts--pie {
  transform: rotate(-90deg);
}

.chq-charts--pie-slice {
  animation: chqChartsFadeIn 1.5s ease-in-out forwards;
  cursor: pointer;
  opacity: 0;
  outline: none;
  transition: transform 300ms;
}

.chq-charts--pie-slice:hover,
.chq-charts--pie-slice:focus {
  transform: scale(1.05);
}

.chq-charts--pie-slice path:first-child {
  opacity: .3;
  transition: opacity 300ms;
}

.chq-charts--pie-slice:hover path:first-child,
.chq-charts--pie-slice:focus path:first-child {
  opacity: .6;
}

.chq-charts--hori-bar-group {
  animation: chqChartsScaleX 1.5s ease-in-out forwards;
  opacity: 0;
  outline: none;
  cursor: pointer;
  transform: scale3d(0, 1, 1);
  transform-box: fill-box;
}

.chq-charts--vert-bar-group {
  animation: chqChartsScaleY 1.5s ease-in-out forwards;
  opacity: 0;
  outline: none;
  transform: scale3d(1, 0, 1);
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.chq-charts--bar-shadow {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.chq-charts--hori-bar-group:hover .chq-charts--bar-shadow,
.chq-charts--hori-bar-group:focus .chq-charts--bar-shadow,
.chq-charts--vert-bar-group:hover .chq-charts--bar-shadow,
.chq-charts--vert-bar-group:focus .chq-charts--bar-shadow {
  opacity: .5;
}

.chq-charts--noselect {
  pointer-events: none;
}

@keyframes chqChartsFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chqChartsScaleX {
  from {
    opacity: 0;
    transform: scale3d(0, 1, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes chqChartsScaleY {
  from {
    opacity: 0;
    transform: scale3d(1, 0, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
